@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {font-size: 16px; line-height: 1.5em; font-family: 'Roboto', sans-serif; font-weight: 400; background: #FAFAFA; color: #333; margin: 0; padding: 0;}

h1 {font-size: 3em; font-weight: 400; line-height: 1.5em; color: #185D6F; margin: 0;}
.dark h1 {color: #FFF;}
h2 {font-size: 2em; line-height: 1.5em; margin: 2.75em 0 0; font-weight: 400; color: #185D6F;}
h3 {font-size: 1.75em; line-height: 1.5em; font-weight: 500; margin: 2em 0 0 0;}

h4, p, ul, ol, label {font-size: 1.25em; line-height: 1.5em; margin: 1em 0 0 0;}
h4 {font-weight:500;}
input, textarea, select {font-size: 1.1em; line-height: 1.5em; }
textarea {font-family: 'Roboto', sans-serif; font-weight: 400;}

ul {padding: 0 1em;}
ul ul {font-size: 1em; margin: 0; padding: 0 1em 0.75em 1em;}
li {margin: 0.75em 0;}
a {color: #BA7800; text-decoration: none;}
a:hover {text-decoration: underline;} 

p a {text-decoration: underline;}
p a.button {text-decoration: none;} 
p a:hover {text-decoration: none;}

strong {font-weight: 500;}

img, .rounded {border-radius: 4px;}
.shadow {box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);}
.border {border: 1px solid #E4E4E4;}

.whitebg {background: #FFF;}
.offwhitebg {background: #FAFAFA;}
.teal {background: #D3F1F1}

button {font-size: 1em; font-weight: 500; padding: 0.625em 2em; display: inline-block; margin: 1.5em 1.5em 0 0; border-radius: 8px; border: none;}

.dark {background: #185D6F; color: #FFF;}
button.dark:hover {background: #489982;}
button.light {background: #FFC247; color: #333;}
button.light:hover {background: #BA7800; color: #FFF;}
button:focus {box-shadow: 0 0 0 2px #FFF, 0 0 0 6px #2D9CDB;}

button.ghost {background: #FFF; border: 1px solid #BA7800;}

button.ghost:hover {border: 2px solid #BA7800;}
button.ghost:focus:before {border: 1px solid #BA7800;}

.section {overflow: auto;}
nav, .content {max-width: 1200px; margin: 0 auto 0 auto; box-sizing: border-box; overflow: auto;}
.content {margin-top: 2.375em; margin-bottom: 2.375em;}

header, main, footer {width: 100%; box-sizing: border-box;}
header .content {margin-top: 0;}
header {padding: 1.6em 0;}

footer {background: #185D6F; color: #FFF; padding-bottom: 6.25em;}
footer .content {margin: 0 auto; position: relative;}

nav {padding: 1em 0;}
nav a {display: inline-block; padding: 1em; font-size: 1.25em; line-height: 1.5em; color: #333;}
nav a:first-child {padding-left: 0;}
nav a.active {text-decoration: underline; color: #185D6F;}

.content form {background: #FFF; padding: 0 2.5em 1em 2.5em; margin: 1.25em 0 2.5em 0; border-radius: 4px; border: 1px solid #E4E4E4;}
.content form p {color: #333;}
label, input, textarea, select {display: block; width: 60%;}
input.button {font-size: 1em;}
label {margin: 2em 0 0 0; color: #185D6F;}
label strong {color: #333;}
input, textarea, select {padding: 0.75em 1em; width: 40%; margin: 0.5em 0 0 0; border-radius: 4px; background: #f5f5f5;}
input[type=range] {padding: 0;}
input::placeholder, textarea::placeholder {color: #888888;}
input:focus, textarea:focus {border: 2px solid #185D6F; outline: none;}
input:invalid, input.error, textarea:invalid, textarea.invalid {border: 2px solid #CC0300;}
form p.error {margin-top: 0.5em; color: #CC0300;}

.left {float: left; overflow: auto;}
.right {float: right; overflow: auto;}

.flex {display: flex;}

.profile {width: 80%; padding: 2em 2.25em; box-sizing: border-box;}
.profile img {border-radius: 50%; margin-right: 2.25em; height: 100px; width: 100px;}
.profile h2 {margin: 0; border-bottom: 2px solid #eee;}
.profile p {margin: 0.5em 0}

.logout {float: right;}

footer h3 {font-weight: 400;}
footer p, footer .sub-menu {font-size: 0.875em;}
footer a {color: #FFF;}

a.social {display: block; height: 1.5em; width: 1.5em; float: left; margin: 2.75em 1.25em 0 0;}

@media screen and (max-width: 1200px) {
    nav, .content {max-width: 1024px;}
}

@media screen and (max-width: 1024px) {
    nav, .content {max-width: 960px;}
}

@media screen and (max-width: 768px) {
	h1 {font-size: 2em;}
	h1.custom {font-size: 3em;}
	p {margin-top: 0.8em;}

    input, label, select, textarea {font-size: 1em; width: 100%; box-sizing: border-box;}
    
    nav, .content {width: 90%; margin: auto;}

    .flex {display: block;}
    .left, .right {float: none; overflow: visible; }

    .profile {width: 100%; padding: 0;}
    .profile img {display: block; margin: auto;}
    .profile div {text-align: center;}

    .login, .logout {float: none; display: block; margin: 1.5em auto; }
}